<body>
	<head>
		<link rel="stylesheet" href="/styles.css">
	</head>
	<p>Events recovered: <%= allEvents.length %>
	</p>
	<button id="exportToCSV">Export to CSV</button>
	<table style="width:100%" id="eventsTable">
		<thead>
			<tr>
				<th style="width: 20%;">ID</th>
				<th style="width: 5%;">SKU</th>
				<th style="width: 10%;">Kitchen</th>
				<th style="width: 5%;">Model</th>
				<th style="width: 10%;">Confidence</th>
				<th style="width: 10%;">Model Response</th>
				<th style="width: 30%;">Order Image</th>
				<!-- Add other headers as needed -->
			</tr>
		</thead>
		<tbody>
			<% allEvents.forEach(event=> { %>
				<tr>
					<td class="id-cell">
						<p>
							<%= event.event_properties.universalId %>
						</p>
					</td>
					<td class="sku-cell">
						<p>
							<%= event.event_properties.sku %>
						</p>
					</td>
					<td>
						<p>
							<%= event.event_properties.deviceKitchenId %>
						</p>
					</td>
					<!-- Adjust as per actual property names -->
					<td class="model-cell">
						<p>
							<%= event.event_properties.model %>
						</p>
					</td>
					<td>
						<p>
							<%= event.event_properties.confidence %>
						</p>
					</td>
					<td>
						<ul>
							<p>
								trained: <%= event.event_properties.trained %>
							</p>
							<p>
								missing: <%= event.event_properties.missing %>
							</p>
							<p>
								model qty res: <%= event.event_properties.quantityModel %>
							</p>
							<p>
								request qty res: <%= event.event_properties.quantityRequested %>
							</p>
						</ul>
					</td>
					<td>
						<img
							src="https://images-kos.s3.amazonaws.com/photos_of_the_orders/prod/<%= event.event_properties.universalId.replace(/:/g, '_') %>/<%= event.event_properties.universalId.replace(/:/g, '_') %>.jpg"
							alt="Image for <%= event.event_properties.universalId.replace(/:/g, '_') %>" width="100%">
					</td>
					<!-- Add other columns as needed -->
				</tr>
				<% }); %>
		</tbody>
	</table>
</body>
